{
    "openapi": "3.1.0",
    "info": {
        "title": "UARP — Universal Agent Runtime Platform",
        "version": "0.2.0",
        "description": "API for managing AI agents, runs, sessions, and supporting infrastructure.\n\nAuth: bearer API key (`Authorization: Bearer uarp_<prefix>_<secret>`). Browser SSE/WebSocket clients that cannot set headers may pass the same key as `?token=<api_key>` query param or `uarp_auth_token` cookie.\n\nIdempotency: every mutating `/api/v1/*` request accepts an `Idempotency-Key` header; replays within 24 h return the cached response with `X-Idempotency-Replayed: true`.",
        "license": {
            "name": "MIT"
        }
    },
    "servers": [
        {
            "url": "https://api.snaga.ai",
            "description": "Production"
        },
        {
            "url": "http://localhost:8080",
            "description": "Local development"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "uarp_<prefix>_<secret>",
                "description": "API key in `Authorization: Bearer uarp_<prefix8>_<secret32>` header.\n\nScope catalogue (from `requireScope(auth, ...)` calls in route handlers): `admin`, `agents:read`, `agents:write`, `api_keys:read`, `api_keys:write`, `billing:read`, `evaluations:read`, `evaluations:write`, `events:read`, `files:read`, `files:write`, `guardrails:read`, `guardrails:write`, `marketplace:invoke`, `marketplace:read`, `marketplace:write`, `memory:read`, `memory:write`, `notifications:read`, `notifications:write`, `read:analytics`, `runs:create`, `runs:read`, `search:read`, `sessions:read`, `sessions:write`, `tenants:write`, `users:read`, `users:write`, `webhooks:read`, `webhooks:write`.\n\nAn empty `[]` under `bearerAuth` in an operation `security` block means any authenticated key passes; explicit scope strings restrict to keys carrying that scope. Most `/admin/*` endpoints additionally require role `admin` (RBAC layer beyond scope)."
            },
            "queryTokenAuth": {
                "type": "apiKey",
                "in": "query",
                "name": "token",
                "description": "Same API key passed via `?token=<uarp_<prefix>_<secret>>` query param. Used for SSE/WebSocket/file content endpoints that cannot set request headers from a browser. For `/runs/{runId}/events` and `/sessions/{sessionId}/events` the recommended flow is to mint a short-lived token via `POST /api/v1/auth/sse-tokens` (60 s TTL, scope-restricted)."
            },
            "cookieAuth": {
                "type": "apiKey",
                "in": "cookie",
                "name": "uarp_auth_token",
                "description": "Same API key set as a cookie. Used by the builder web app and any HTML rendering endpoint behind same-origin auth."
            },
            "webSocketProtocolAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "Sec-WebSocket-Protocol",
                "description": "WebSocket upgrade only: subprotocol of the form `uarp.<base64(api_key)>`. Used by `/api/v1/bridge/ws` and other WebSocket upgrade routes."
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "description": "RFC 9457 problem+json style error; correlationId for request tracing.",
                "properties": {
                    "type": {
                        "type": "string",
                        "format": "uri"
                    },
                    "title": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer"
                    },
                    "detail": {
                        "type": "string"
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "Request ID for tracing"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "field": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Field-level validation errors (present on 422 responses)"
                    }
                },
                "required": [
                    "type",
                    "title",
                    "status"
                ]
            },
            "OpenAiError": {
                "type": "object",
                "description": "Error envelope used by the OpenAI-compatible surface (`/v1/*`). Deliberately NOT RFC 9457: callers here are OpenAI SDKs pointed at this base URL, and they decode this shape.",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string",
                                "description": "Human-readable cause, including where an operator fixes it."
                            },
                            "type": {
                                "type": "string",
                                "example": "server_error"
                            },
                            "code": {
                                "type": "string",
                                "description": "Machine-readable code. `embedding_unavailable` = no provider configured (501, permanent). `embedding_failed` = the configured provider did not answer (503, retryable)."
                            }
                        },
                        "required": [
                            "message",
                            "type"
                        ]
                    }
                },
                "required": [
                    "error"
                ]
            },
            "CompanyCreate": {
                "type": "object",
                "description": "Body for `POST /api/v1/companies` (`CreateCompanySchema`).",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "mission": {
                        "type": "string",
                        "description": "What the company exists to do."
                    },
                    "budget": {
                        "type": "number",
                        "description": "Spend ceiling in USD."
                    },
                    "description": {
                        "type": "string"
                    },
                    "strategic_goals": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "config": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "workspace_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "name",
                    "mission",
                    "budget"
                ]
            },
            "CompanyUpdate": {
                "type": "object",
                "description": "Body for `PUT /api/v1/companies/{id}`. Every field optional — send only what changes.",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "mission": {
                        "type": "string"
                    },
                    "budget": {
                        "type": "number"
                    },
                    "description": {
                        "type": "string"
                    },
                    "strategic_goals": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "config": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "TeamCreate": {
                "type": "object",
                "description": "Body for `POST /api/v1/teams` (`CreateTeamSchema`).",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "topology": {
                        "type": "string"
                    },
                    "supervisor_agent_id": {
                        "type": "string"
                    },
                    "workers": {
                        "type": "array",
                        "description": "Each entry REQUIRES `agent_id` — omitting it answers `422 workers.0.agent_id: Required`.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "agent_id": {
                                    "type": "string"
                                },
                                "role": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "agent_id"
                            ]
                        }
                    },
                    "agent_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "delegation_strategy": {
                        "type": "string"
                    },
                    "merge_strategy": {
                        "type": "string"
                    },
                    "orchestration_mode": {
                        "type": "string"
                    },
                    "workspace_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "TeamUpdate": {
                "type": "object",
                "description": "Body for `PUT /api/v1/teams/{teamId}`. Every field optional — send only what changes.",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "topology": {
                        "type": "string"
                    },
                    "supervisor_agent_id": {
                        "type": "string"
                    },
                    "workers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "agent_id": {
                                    "type": "string"
                                },
                                "role": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "agent_id"
                            ]
                        }
                    }
                }
            },
            "AgentUpdate": {
                "type": "object",
                "description": "Body for `PUT /api/v1/agents/{agentId}`. Every field optional — an omitted field means NO CHANGE, not 'clear it'. `model` and `fallback_model` are accepted and ignored (see the model lockdown).",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "prompts": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "model": {
                        "$ref": "#/components/schemas/AgentModelConfigInput"
                    },
                    "specs": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "approval_required_tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "auto_approve_tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "knowledge_base_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "knowledge_base_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "workspace_id": {
                        "type": "string"
                    },
                    "visibility": {
                        "type": "string",
                        "enum": [
                            "private",
                            "team",
                            "public"
                        ]
                    }
                }
            },
            "KnowledgeBaseCreate": {
                "type": "object",
                "description": "Body for `POST /api/v1/knowledge-bases`.",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "embedding_model": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "KnowledgeBaseUpdate": {
                "type": "object",
                "description": "Body for `PUT /api/v1/knowledge-bases/{id}`. Every field optional.",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                }
            },
            "CustomerUpdate": {
                "type": "object",
                "description": "Body for `PATCH /api/v1/commerce/customers/{id}`. Only the listed fields are applied; anything else in the body is ignored.",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "first_name": {
                        "type": "string"
                    },
                    "last_name": {
                        "type": "string"
                    },
                    "phone": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "note": {
                        "type": "string"
                    },
                    "addresses": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "accepts_marketing": {
                        "type": "boolean"
                    },
                    "verified_email": {
                        "type": "boolean"
                    },
                    "tax_exempt": {
                        "type": "boolean"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "locale": {
                        "type": "string"
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": true
                    }
                }
            },
            "ProductUpdate": {
                "type": "object",
                "description": "Body for `PATCH /api/v1/commerce/products/{id}`. Every field optional; unknown fields are dropped without error, so a typo answers 200 and changes nothing.",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "price_cents": {
                        "type": "integer"
                    },
                    "currency": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "knowledge_base_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "agent_id": {
                        "type": "string"
                    },
                    "course_structure": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "stripe_price_id": {
                        "type": "string"
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "slug": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "category": {
                        "type": "string"
                    },
                    "vendor": {
                        "type": "string"
                    },
                    "images": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "variants": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "compare_at_price_cents": {
                        "type": "integer"
                    },
                    "body_html": {
                        "type": "string"
                    },
                    "options": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    }
                }
            },
            "DesignRequestCreate": {
                "type": "object",
                "description": "Body for `POST /api/v1/governance/builder/requests`.",
                "properties": {
                    "submitted_by": {
                        "type": "string"
                    },
                    "agent_name": {
                        "type": "string"
                    },
                    "agent_description": {
                        "type": "string"
                    },
                    "agent_role": {
                        "type": "string"
                    },
                    "tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "parent_agent_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "rationale": {
                        "type": "string"
                    }
                }
            },
            "AgentPublicConfig": {
                "type": "object",
                "required": [
                    "enabled"
                ],
                "properties": {
                    "enabled": {
                        "type": "boolean"
                    },
                    "system_prompt": {
                        "type": "string"
                    },
                    "greeting": {
                        "type": "string"
                    },
                    "allowed_tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "max_messages_per_session": {
                        "type": "integer"
                    },
                    "max_concurrent_sessions": {
                        "type": "integer"
                    },
                    "rate_limit_sessions_per_ip": {
                        "type": "integer"
                    },
                    "rate_limit_messages_per_min": {
                        "type": "integer"
                    },
                    "daily_message_limit": {
                        "type": "integer"
                    }
                }
            },
            "AgentBridgeState": {
                "type": "object",
                "properties": {
                    "online_machines": {
                        "type": "integer"
                    },
                    "total_machines": {
                        "type": "integer"
                    },
                    "platforms": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "working_directories": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "machine_names": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "latest_heartbeat": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "installed_specs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BridgeInstalledSpec"
                        }
                    }
                }
            },
            "BridgeInstalledSpec": {
                "type": "object",
                "required": [
                    "spec_id",
                    "status"
                ],
                "properties": {
                    "spec_id": {
                        "type": "string",
                        "description": "`@scope/name`."
                    },
                    "version": {
                        "type": "string",
                        "description": "Resolved exactly, never a range."
                    },
                    "tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Tool names the SPEC registered into the local runtime."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "installed",
                            "failed"
                        ]
                    },
                    "error": {
                        "type": "string",
                        "description": "Failure detail when `status` is `failed` — artifact 404, SHA mismatch, capability conflict."
                    },
                    "reported_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Agent": {
                "type": "object",
                "properties": {
                    "specs": {
                        "type": "array",
                        "description": "SPECs installed on this agent, with version pin and granted permissions.",
                        "items": {
                            "type": "object",
                            "properties": {
                                "spec_id": {
                                    "type": "string"
                                },
                                "version": {
                                    "type": "string"
                                },
                                "enabled": {
                                    "type": "boolean",
                                    "description": "Soft-disable. false keeps the install history but skips injection."
                                },
                                "permissions_granted": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "cap": {
                                                "type": "string"
                                            },
                                            "scope": {
                                                "type": "string"
                                            },
                                            "reason": {
                                                "type": "string"
                                            },
                                            "granted_by": {
                                                "type": "string",
                                                "enum": [
                                                    "wizard",
                                                    "admin",
                                                    "bootstrap",
                                                    "migrated"
                                                ]
                                            },
                                            "granted_at": {
                                                "type": "string",
                                                "format": "date-time"
                                            }
                                        },
                                        "required": [
                                            "cap",
                                            "granted_by",
                                            "granted_at"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "spec_id"
                            ]
                        }
                    },
                    "auto_approve_tools": {
                        "type": "array",
                        "description": "Tools this agent may call without a human-in-the-loop prompt.",
                        "items": {
                            "type": "string"
                        }
                    },
                    "command_relationships": {
                        "type": "object",
                        "description": "Command hierarchy (MVP: opcon only).",
                        "properties": {
                            "opcon": {
                                "type": "string",
                                "description": "Agent ID holding operational control."
                            },
                            "coordinates_with": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "access_control": {
                        "type": "object",
                        "description": "Security clearance and compartment access.",
                        "properties": {
                            "clearance": {
                                "type": "integer",
                                "description": "0=public, 1=internal, 2=restricted, 3=confidential, 4=secret."
                            },
                            "compartments": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "caveats": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        },
                        "required": [
                            "clearance"
                        ]
                    },
                    "metadata": {
                        "type": "object",
                        "description": "Free-form caller-supplied metadata.",
                        "additionalProperties": true
                    },
                    "agent_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "model": {
                        "$ref": "#/components/schemas/AgentModelConfig"
                    },
                    "prompts": {
                        "type": "object",
                        "properties": {
                            "system": {
                                "type": "string"
                            },
                            "developer": {
                                "type": "string"
                            }
                        }
                    },
                    "mcp": {
                        "type": "object"
                    },
                    "policies": {
                        "type": "object"
                    },
                    "skills": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    },
                    "thinking": {
                        "type": [
                            "object",
                            "null"
                        ]
                    },
                    "effort_policy": {
                        "type": [
                            "object",
                            "null"
                        ]
                    },
                    "resource_limits": {
                        "type": [
                            "object",
                            "null"
                        ]
                    },
                    "memory": {
                        "type": [
                            "object",
                            "null"
                        ]
                    },
                    "guardrails": {
                        "type": [
                            "object",
                            "null"
                        ]
                    },
                    "approval_required_tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Tool names requiring human approval before execution"
                    },
                    "built_in_tools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Built-in tool names enabled for this agent"
                    },
                    "image_generation": {
                        "type": [
                            "object",
                            "null"
                        ],
                        "description": "Image generation configuration"
                    },
                    "knowledge_base_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "deprecated": true,
                        "description": "Deprecated in `packages/types/agent.ts:296`; kept for pre-migration records. Use `knowledge_base_ids`. Documenting only the singular is why a client reading this schema could link one base to an agent that supports several."
                    },
                    "knowledge_base_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Every knowledge base linked to the agent. `search_kb` searches all of them by default."
                    },
                    "visibility": {
                        "type": "string",
                        "enum": [
                            "private",
                            "team",
                            "public"
                        ],
                        "description": "Who can reach the agent. The publication screen is built on this field."
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "suspended",
                            "terminated",
                            "deposed"
                        ],
                        "description": "Governance state, distinct from a run's status."
                    },
                    "status_changed_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status_reason": {
                        "type": "string"
                    },
                    "autonomy": {
                        "type": "object",
                        "required": [
                            "level"
                        ],
                        "properties": {
                            "level": {
                                "type": "string",
                                "enum": [
                                    "manual",
                                    "approve_risky",
                                    "full_auto"
                                ]
                            }
                        }
                    },
                    "tool_overrides": {
                        "type": "array",
                        "description": "Per-tool trust, overriding the agent's default approval policy.",
                        "items": {
                            "type": "object",
                            "required": [
                                "tool_name",
                                "trust_level"
                            ],
                            "properties": {
                                "tool_name": {
                                    "type": "string"
                                },
                                "trust_level": {
                                    "type": "string",
                                    "enum": [
                                        "always_allow",
                                        "ask_first",
                                        "never_allow"
                                    ]
                                }
                            }
                        }
                    },
                    "public_config": {
                        "$ref": "#/components/schemas/AgentPublicConfig"
                    },
                    "bridge": {
                        "$ref": "#/components/schemas/AgentBridgeState",
                        "description": "Present only on `GET /agents/{id}`, and only for a bridge agent. Computed at read time from the machines currently registered, never stored on the record."
                    },
                    "fallback_model": {
                        "type": [
                            "object",
                            "null"
                        ],
                        "description": "Fallback model configuration"
                    },
                    "execution_mode": {
                        "type": "string",
                        "enum": [
                            "async",
                            "worker",
                            "bridge"
                        ]
                    },
                    "worker_reuse": {
                        "type": "boolean"
                    },
                    "schedule": {
                        "type": [
                            "object",
                            "null"
                        ],
                        "description": "Cron schedule configuration"
                    },
                    "a2a": {
                        "type": [
                            "object",
                            "null"
                        ],
                        "description": "Agent-to-Agent protocol configuration"
                    },
                    "risk_classification": {
                        "type": [
                            "object",
                            "null"
                        ],
                        "description": "EU AI Act risk classification"
                    },
                    "workspace_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Workspace this agent belongs to"
                    },
                    "context_strategy": {
                        "type": "string",
                        "enum": [
                            "compaction",
                            "summarize",
                            "truncate",
                            "sliding_window"
                        ]
                    },
                    "context_window_size": {
                        "type": "integer"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "agent_id",
                    "tenant_id",
                    "name",
                    "model",
                    "created_at"
                ]
            },
            "AgentModelConfig": {
                "type": "object",
                "description": "Model capabilities. Deliberately carries no provider or model identifier — see the model lockdown.",
                "properties": {
                    "capabilities": {
                        "type": "object",
                        "description": "Feature flags the client may branch on (e.g. `vision`, `tool_calls`, `streaming`). Absent when the platform has published none."
                    }
                }
            },
            "AgentModelConfigInput": {
                "type": "object",
                "deprecated": true,
                "description": "Accepted and IGNORED. The platform default is applied on create and preserved on update, so sending this changes nothing. Kept so existing clients do not start failing validation.",
                "properties": {
                    "provider": {
                        "type": "string"
                    },
                    "model_ref": {
                        "type": "string"
                    },
                    "endpoint_url": {
                        "type": "string",
                        "format": "uri"
                    },
                    "api_key_ref": {
                        "type": "string"
                    },
                    "capabilities": {
                        "type": "object"
                    }
                }
            },
            "Run": {
                "type": "object",
                "properties": {
                    "run_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "agent_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "session_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "queued",
                            "running",
                            "completed",
                            "failed",
                            "cancelled",
                            "timeout",
                            "guardrail_blocked",
                            "paused",
                            "awaiting_approval",
                            "awaiting_input",
                            "auth_required",
                            "rejected"
                        ]
                    },
                    "input": {
                        "type": "object"
                    },
                    "output": {
                        "type": [
                            "object",
                            "null"
                        ]
                    },
                    "metrics": {
                        "$ref": "#/components/schemas/RunMetrics"
                    },
                    "error": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "started_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time"
                    },
                    "completed_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time"
                    },
                    "team_run_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uuid",
                        "description": "Team run ID if part of a team execution"
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "User-supplied metadata"
                    },
                    "step_seq": {
                        "type": "integer",
                        "description": "Current step sequence number"
                    },
                    "artifacts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Artifact"
                        },
                        "description": "Run artifacts"
                    },
                    "resource_limits": {
                        "type": "object",
                        "properties": {
                            "max_duration_ms": {
                                "type": "integer"
                            },
                            "max_steps": {
                                "type": "integer"
                            },
                            "max_tool_calls": {
                                "type": "integer"
                            },
                            "max_tokens_per_run": {
                                "type": "integer"
                            }
                        },
                        "description": "Resource limits for the run"
                    }
                },
                "required": [
                    "run_id",
                    "tenant_id",
                    "agent_id",
                    "status",
                    "created_at"
                ]
            },
            "RunMetrics": {
                "type": "object",
                "properties": {
                    "duration_ms": {
                        "type": "number"
                    },
                    "steps_count": {
                        "type": "integer"
                    },
                    "input_tokens": {
                        "type": "integer"
                    },
                    "output_tokens": {
                        "type": "integer"
                    },
                    "thinking_tokens": {
                        "type": "integer"
                    },
                    "tool_calls_count": {
                        "type": "integer"
                    },
                    "llm_calls_count": {
                        "type": "integer"
                    },
                    "guardrail_checks": {
                        "type": "integer"
                    },
                    "guardrail_violations": {
                        "type": "integer"
                    },
                    "memory_retrievals": {
                        "type": "integer"
                    },
                    "memory_extractions": {
                        "type": "integer"
                    },
                    "total_cost_usd": {
                        "type": [
                            "number",
                            "null"
                        ],
                        "description": "Estimated total cost in USD"
                    }
                }
            },
            "Artifact": {
                "type": "object",
                "required": [
                    "artifact_id",
                    "run_id",
                    "name",
                    "mime_type",
                    "size_bytes",
                    "created_at"
                ],
                "properties": {
                    "artifact_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "run_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "mime_type": {
                        "type": "string"
                    },
                    "size_bytes": {
                        "type": "integer"
                    },
                    "storage_ref": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "SessionBranch": {
                "type": "object",
                "required": [
                    "branch_id",
                    "name",
                    "fork_point_run_id",
                    "fork_point_step_seq",
                    "runs",
                    "status",
                    "created_at"
                ],
                "properties": {
                    "branch_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "parent_branch_id": {
                        "type": "string",
                        "description": "Absent on the main branch."
                    },
                    "name": {
                        "type": "string"
                    },
                    "fork_point_run_id": {
                        "type": "string",
                        "description": "The run this branch forked after. Empty when the session had no runs yet."
                    },
                    "fork_point_step_seq": {
                        "type": "integer"
                    },
                    "runs": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "abandoned",
                            "merged"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "CreateSessionBranchRequest": {
                "type": "object",
                "properties": {
                    "fork_point_run_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Defaults to the session's most recent run."
                    },
                    "fork_point_step_seq": {
                        "type": "integer",
                        "description": "Defaults to 0."
                    },
                    "parent_branch_id": {
                        "type": "string",
                        "description": "Defaults to the session's active branch."
                    },
                    "name": {
                        "type": "string",
                        "description": "Defaults to `branch-<first 8 characters of the branch id>`."
                    }
                }
            },
            "ListSessionBranchesResponse": {
                "type": "object",
                "required": [
                    "session_id",
                    "branches",
                    "total"
                ],
                "properties": {
                    "session_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "branches": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SessionBranch"
                        }
                    },
                    "active_branch": {
                        "type": "string"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "RunApproveRequest": {
                "type": "object",
                "properties": {
                    "response": {
                        "type": "string",
                        "maxLength": 10000
                    }
                }
            },
            "Session": {
                "type": "object",
                "properties": {
                    "session_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "agent_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "active",
                            "closed",
                            "expired"
                        ]
                    },
                    "conversation_history": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ConversationEntry"
                        }
                    },
                    "metadata": {
                        "type": "object"
                    },
                    "runs": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "expires_at": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time"
                    },
                    "team_id": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uuid",
                        "description": "Team ID if session belongs to a team"
                    },
                    "branches": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        },
                        "description": "Session branches for conversation forking"
                    },
                    "active_branch": {
                        "type": "string",
                        "description": "Currently active branch ID"
                    },
                    "queue_mode": {
                        "type": "string",
                        "enum": [
                            "allow",
                            "reject"
                        ],
                        "description": "How to handle concurrent runs in this session"
                    },
                    "model_override": {
                        "type": "object",
                        "nullable": true,
                        "description": "Per-conversation model override (in-chat model switcher). When set, runs in this session resolve their LLM from this config instead of the agent's default. Absent → agent default.",
                        "properties": {
                            "provider": {
                                "type": "string"
                            },
                            "model_ref": {
                                "type": "string"
                            },
                            "endpoint_url": {
                                "type": "string"
                            },
                            "capabilities": {
                                "type": "object",
                                "additionalProperties": true
                            }
                        },
                        "required": [
                            "provider",
                            "model_ref"
                        ]
                    }
                },
                "required": [
                    "session_id",
                    "tenant_id",
                    "agent_id",
                    "status"
                ]
            },
            "ConversationEntry": {
                "type": "object",
                "required": [
                    "role",
                    "content"
                ],
                "properties": {
                    "role": {
                        "type": "string",
                        "enum": [
                            "user",
                            "assistant",
                            "system",
                            "tool_result"
                        ]
                    },
                    "content": {
                        "type": "string",
                        "description": "Message content"
                    },
                    "run_id": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "compacted": {
                        "type": "boolean"
                    },
                    "tool_calls": {
                        "type": "array",
                        "description": "Persisted on assistant entries when the run executed tools. Reload re-paints these blocks underneath the assistant turn (matches what the SSE stream renders during the live run).",
                        "items": {
                            "type": "object",
                            "required": [
                                "id",
                                "name",
                                "status"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "done",
                                        "error"
                                    ]
                                },
                                "input": {
                                    "type": "string"
                                },
                                "output": {
                                    "type": "string"
                                },
                                "duration_ms": {
                                    "type": "integer"
                                },
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "thinking": {
                        "type": "string",
                        "description": "Reasoning / thinking content (DeepSeek `reasoning_content`, Anthropic extended thinking, GLM/Qwen `<think>` blocks). Persisted on assistant entries so reload re-paints the Thinking section above the assistant text."
                    }
                }
            },
            "MemoryEntry": {
                "type": "object",
                "properties": {
                    "entry_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "episodic",
                            "semantic",
                            "procedural",
                            "note"
                        ]
                    },
                    "content": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "relevance_score": {
                        "type": "number"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "source_run_id": {
                        "type": "string"
                    }
                },
                "required": [
                    "entry_id",
                    "content"
                ]
            },
            "AgentAnalyticsSummary": {
                "type": "object",
                "description": "Output of summariseAgents (analytics.ts) — same shape for /admin/analytics/agents and /analytics/agents (tenant-scoped).",
                "properties": {
                    "range": {
                        "type": "object",
                        "properties": {
                            "days": {
                                "type": "integer"
                            }
                        },
                        "required": [
                            "days"
                        ]
                    },
                    "total": {
                        "type": "integer"
                    },
                    "by_execution_mode": {
                        "type": "object",
                        "properties": {
                            "cloud": {
                                "type": "integer"
                            },
                            "bridge": {
                                "type": "integer"
                            }
                        }
                    },
                    "bridge": {
                        "type": "object",
                        "properties": {
                            "online": {
                                "type": "integer"
                            },
                            "stale": {
                                "type": "integer"
                            },
                            "offline": {
                                "type": "integer"
                            },
                            "machines_total": {
                                "type": "integer"
                            }
                        }
                    },
                    "runs_total": {
                        "type": "integer"
                    },
                    "cost_total_usd": {
                        "type": "number"
                    },
                    "tokens_total": {
                        "type": "integer"
                    },
                    "top_by_runs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AgentSummary"
                        }
                    },
                    "top_by_cost": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AgentSummary"
                        }
                    },
                    "agents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AgentSummary"
                        }
                    }
                },
                "required": [
                    "range",
                    "total",
                    "agents"
                ]
            },
            "AgentSummary": {
                "type": "object",
                "properties": {
                    "agent_id": {
                        "type": "string"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "execution_mode": {
                        "type": "string",
                        "enum": [
                            "async",
                            "worker",
                            "bridge",
                            "cloud"
                        ]
                    },
                    "status": {
                        "type": "string"
                    },
                    "bridge_status": {
                        "type": "string",
                        "enum": [
                            "online",
                            "stale",
                            "offline"
                        ]
                    },
                    "machine_count": {
                        "type": "integer"
                    },
                    "runs": {
                        "type": "integer"
                    },
                    "cost_usd": {
                        "type": "number"
                    },
                    "tokens": {
                        "type": "integer"
                    }
                },
                "required": [
                    "agent_id",
                    "tenant_id",
                    "name",
                    "execution_mode",
                    "status"
                ]
            },
            "ConstitutionDocument": {
                "type": "object",
                "required": [
                    "tenant_id",
                    "version",
                    "rules",
                    "amendments",
                    "founder_id",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "tenant_id": {
                        "type": "string"
                    },
                    "version": {
                        "type": "integer"
                    },
                    "rules": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ConstitutionRule"
                        }
                    },
                    "amendments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ConstitutionAmendment"
                        }
                    },
                    "founder_id": {
                        "type": "string",
                        "description": "Who created the genesis document."
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ConstitutionAmendment": {
                "type": "object",
                "required": [
                    "amendment_id",
                    "rule_id",
                    "action",
                    "proposed_by",
                    "approved_by",
                    "rationale",
                    "applied_at"
                ],
                "properties": {
                    "amendment_id": {
                        "type": "string"
                    },
                    "rule_id": {
                        "type": "string"
                    },
                    "action": {
                        "type": "string",
                        "enum": [
                            "add",
                            "modify",
                            "remove"
                        ]
                    },
                    "rule": {
                        "$ref": "#/components/schemas/ConstitutionRule",
                        "description": "The new rule, for `add` and `modify`. Absent on `remove`."
                    },
                    "proposed_by": {
                        "type": "string"
                    },
                    "approved_by": {
                        "type": "string",
                        "description": "The founder, or the consensus that carried it."
                    },
                    "rationale": {
                        "type": "string"
                    },
                    "applied_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "ConstitutionRule": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Stable slug, e.g. `no-privilege-escalation`."
                    },
                    "rule_type": {
                        "type": "string",
                        "enum": [
                            "prohibition",
                            "requirement",
                            "permission"
                        ]
                    },
                    "scope": {
                        "type": "string",
                        "description": "Who the rule binds. The document previously listed `global`/`tenant`/`agent`, none of which the server has ever emitted.",
                        "enum": [
                            "all_agents",
                            "team",
                            "agent",
                            "role"
                        ]
                    },
                    "scope_targets": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Agent ids, team ids or role names, depending on `scope`. Absent for `all_agents`."
                    },
                    "action": {
                        "type": "string",
                        "description": "The action the rule governs, e.g. `modify_constitution`."
                    },
                    "obligated_action": {
                        "type": "string",
                        "description": "For `requirement` rules: the action that must be performed."
                    },
                    "penalty": {
                        "type": "string",
                        "enum": [
                            "block",
                            "warn",
                            "log",
                            "terminate_agent",
                            "revoke_permissions"
                        ]
                    },
                    "description": {
                        "type": "string"
                    },
                    "immutable": {
                        "type": "boolean",
                        "description": "Genesis rules cannot be amended or removed."
                    },
                    "priority": {
                        "type": "integer",
                        "description": "Conflict resolution — higher wins. Defaults to 0."
                    }
                },
                "required": [
                    "id",
                    "rule_type",
                    "scope",
                    "action",
                    "penalty"
                ]
            },
            "Constitution": {
                "type": "object",
                "properties": {
                    "rules": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ConstitutionRule"
                        }
                    },
                    "version": {
                        "type": "integer"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "rules",
                    "version"
                ]
            },
            "EnforcementResult": {
                "type": "object",
                "properties": {
                    "allowed": {
                        "type": "boolean"
                    },
                    "violations": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "rule_id": {
                                    "type": "string"
                                },
                                "severity": {
                                    "type": "string",
                                    "enum": [
                                        "info",
                                        "warning",
                                        "error",
                                        "blocker"
                                    ]
                                },
                                "message": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "rule_id",
                                "severity",
                                "message"
                            ]
                        }
                    }
                },
                "required": [
                    "allowed",
                    "violations"
                ]
            },
            "GovernanceLedgerEntry": {
                "type": "object",
                "properties": {
                    "seq": {
                        "type": "integer",
                        "description": "Monotonic position in the tenant's chain."
                    },
                    "action": {
                        "type": "string",
                        "description": "What happened, e.g. `run_complete`, `constitution_amended`."
                    },
                    "category": {
                        "type": "string",
                        "description": "Coarse grouping, e.g. `execution`, `governance`."
                    },
                    "agent_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "payload": {
                        "type": "object",
                        "additionalProperties": true,
                        "description": "Action-specific detail; shape varies by `action`."
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "prev_hash": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "description": "Hash of the preceding entry. Null only for the genesis entry."
                    },
                    "hash": {
                        "type": "string"
                    }
                },
                "required": [
                    "seq",
                    "action",
                    "timestamp",
                    "hash",
                    "prev_hash"
                ]
            },
            "Goal": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "agent_id": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "draft",
                            "active",
                            "achieved",
                            "abandoned",
                            "expired"
                        ]
                    },
                    "target_date": {
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "date-time"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "agent_id",
                    "status"
                ]
            },
            "UsageSummary": {
                "type": "object",
                "description": "Tenant usage for one billing period. Flat — the counters are top-level, not nested under a `usage` object.",
                "properties": {
                    "plan": {
                        "type": "string"
                    },
                    "period": {
                        "type": "string",
                        "description": "`YYYY-MM`."
                    },
                    "period_days": {
                        "type": "integer"
                    },
                    "input_tokens": {
                        "type": "integer"
                    },
                    "output_tokens": {
                        "type": "integer"
                    },
                    "thinking_tokens": {
                        "type": "integer"
                    },
                    "total_tokens": {
                        "type": "integer"
                    },
                    "runs_count": {
                        "type": "integer"
                    },
                    "tool_calls_count": {
                        "type": "integer"
                    },
                    "bridge_tasks": {
                        "type": "integer"
                    },
                    "storage_bytes": {
                        "type": "integer"
                    },
                    "total_cost": {
                        "type": "number",
                        "description": "What the tenant is billed, in USD."
                    },
                    "provider_cost": {
                        "type": "number",
                        "description": "What the upstream providers charged, in USD."
                    },
                    "non_run_cost": {
                        "type": "number"
                    },
                    "margin_summary": {
                        "$ref": "#/components/schemas/UsageMarginSummary"
                    }
                },
                "required": [
                    "plan",
                    "period",
                    "period_days",
                    "input_tokens",
                    "output_tokens",
                    "thinking_tokens",
                    "total_tokens",
                    "runs_count",
                    "tool_calls_count",
                    "storage_bytes",
                    "total_cost",
                    "provider_cost",
                    "non_run_cost"
                ]
            },
            "UsageMarginSummary": {
                "type": "object",
                "properties": {
                    "platform_markup_percent": {
                        "type": "number"
                    },
                    "provider_cost_usd": {
                        "type": "number"
                    },
                    "user_cost_usd": {
                        "type": "number"
                    },
                    "margin_usd": {
                        "type": "number"
                    },
                    "effective_margin_percent": {
                        "type": "number"
                    }
                }
            },
            "OAuthAppExchangeRequest": {
                "type": "object",
                "required": [
                    "code",
                    "code_verifier"
                ],
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "The value delivered in the callback fragment."
                    },
                    "code_verifier": {
                        "type": "string",
                        "description": "The secret whose SHA-256, base64url-encoded, was sent as `app_code_challenge` when the flow started. It never leaves the app, which is what makes an intercepted code worthless."
                    }
                }
            },
            "OAuthAppExchangeResponse": {
                "type": "object",
                "required": [
                    "api_key"
                ],
                "properties": {
                    "api_key": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    }
                }
            },
            "AgentVersion": {
                "type": "object",
                "required": [
                    "version_id",
                    "agent_id",
                    "version",
                    "created_at"
                ],
                "properties": {
                    "version_id": {
                        "type": "string"
                    },
                    "agent_id": {
                        "type": "string"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "version": {
                        "type": "integer"
                    },
                    "changelog": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_by": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "config": {
                        "type": "object",
                        "description": "The full agent configuration as it stood at this version. Shape follows `Agent`; not pinned here so the two cannot drift."
                    }
                }
            },
            "GovernanceLedgerHead": {
                "type": "object",
                "required": [
                    "seq",
                    "hash"
                ],
                "properties": {
                    "seq": {
                        "type": "integer",
                        "description": "Global sequence of the newest ledger entry across ALL tenants — not the newest entry in the accompanying page. Measured 2026-08-20: `head.seq` was 6698 while the last visible entry was 6697, and the gap is another tenant's row. A client must not use this to decide whether it holds the latest page."
                    },
                    "hash": {
                        "type": "string"
                    }
                }
            },
            "LedgerIntegrity": {
                "type": "object",
                "required": [
                    "valid",
                    "entries_checked",
                    "checked_at"
                ],
                "properties": {
                    "valid": {
                        "type": "boolean"
                    },
                    "entries_checked": {
                        "type": "integer"
                    },
                    "first_invalid_seq": {
                        "type": "integer",
                        "description": "Sequence of the first entry that failed verification. Absent when `valid` is true."
                    },
                    "error": {
                        "type": "string"
                    },
                    "checked_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "EmergencyState": {
                "type": "object",
                "required": [
                    "mode"
                ],
                "properties": {
                    "mode": {
                        "type": "string",
                        "enum": [
                            "normal",
                            "safe_mode",
                            "arbitration_safe_mode",
                            "bootstrap"
                        ]
                    },
                    "reason": {
                        "type": "string"
                    },
                    "activated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "activated_by": {
                        "type": "string"
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "VoteResult": {
                "type": "object",
                "required": [
                    "proposal_id",
                    "status",
                    "total_votes",
                    "approve_weight",
                    "reject_weight",
                    "abstain_weight",
                    "quorum_met",
                    "tallied_at"
                ],
                "properties": {
                    "proposal_id": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "passed",
                            "rejected",
                            "expired",
                            "vetoed"
                        ]
                    },
                    "total_votes": {
                        "type": "integer"
                    },
                    "approve_weight": {
                        "type": "number"
                    },
                    "reject_weight": {
                        "type": "number"
                    },
                    "abstain_weight": {
                        "type": "number"
                    },
                    "quorum_met": {
                        "type": "boolean"
                    },
                    "tallied_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "HumanAmbassador": {
                "type": "object",
                "required": [
                    "ambassador_id",
                    "tenant_id",
                    "name",
                    "role",
                    "permissions",
                    "created_at"
                ],
                "properties": {
                    "ambassador_id": {
                        "type": "string"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "founder",
                            "ambassador",
                            "observer"
                        ]
                    },
                    "permissions": {
                        "$ref": "#/components/schemas/AmbassadorPermissions"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AmbassadorPermissions": {
                "type": "object",
                "required": [
                    "can_veto",
                    "can_audit",
                    "can_propose"
                ],
                "properties": {
                    "can_veto": {
                        "type": "boolean"
                    },
                    "can_audit": {
                        "type": "boolean"
                    },
                    "can_propose": {
                        "type": "boolean"
                    }
                }
            },
            "VetoRecord": {
                "type": "object",
                "required": [
                    "veto_id",
                    "issued_by",
                    "target_type",
                    "target_id",
                    "reason",
                    "issued_at"
                ],
                "properties": {
                    "veto_id": {
                        "type": "string"
                    },
                    "issued_by": {
                        "type": "string",
                        "description": "`ambassador_id` of the human who issued it."
                    },
                    "target_type": {
                        "type": "string",
                        "enum": [
                            "proposal",
                            "action",
                            "agent",
                            "case"
                        ]
                    },
                    "target_id": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "issued_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "VotingProposal": {
                "type": "object",
                "properties": {
                    "proposal_id": {
                        "type": "string"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "proposed_by": {
                        "type": "string"
                    },
                    "payload": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "quorum": {
                        "type": "number"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "passed",
                            "rejected",
                            "expired",
                            "vetoed"
                        ]
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "proposal_id",
                    "tenant_id",
                    "type",
                    "title",
                    "description",
                    "proposed_by",
                    "payload",
                    "quorum",
                    "status",
                    "deadline",
                    "created_at",
                    "updated_at"
                ]
            },
            "Ballot": {
                "type": "object",
                "properties": {
                    "proposal_id": {
                        "type": "string"
                    },
                    "agent_id": {
                        "type": "string"
                    },
                    "vote": {
                        "type": "string",
                        "enum": [
                            "approve",
                            "reject",
                            "abstain"
                        ]
                    },
                    "weight": {
                        "type": "number"
                    },
                    "reasoning": {
                        "type": "string"
                    },
                    "signature": {
                        "type": "string"
                    },
                    "cast_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "proposal_id",
                    "agent_id",
                    "vote",
                    "weight",
                    "cast_at"
                ]
            },
            "ArbiterCase": {
                "type": "object",
                "properties": {
                    "case_id": {
                        "type": "string"
                    },
                    "tenant_id": {
                        "type": "string"
                    },
                    "filed_by": {
                        "type": "string"
                    },
                    "against_agent_id": {
                        "type": "string"
                    },
                    "rule_ids": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "description": {
                        "type": "string"
                    },
                    "evidence": {
                        "type": "object",
                        "additionalProperties": true
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "open",
                            "under_review",
                            "ruled",
                            "appealed",
                            "closed"
                        ]
                    },
                    "assigned_arbiter_id": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "case_id",
                    "tenant_id",
                    "filed_by",
                    "against_agent_id",
                    "rule_ids",
                    "description",
                    "evidence",
                    "status",
                    "created_at",
                    "deadline",
                    "updated_at"
                ]
            },
            "Veto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "issued_by": {
                        "type": "string"
                    },
                    "target_type": {
                        "type": "string"
                    },
                    "target_id": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "issued_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "required": [
                    "id",
                    "issued_by",
                    "target_type",
                    "target_id"
                ]
            },
            "Ambassador": {
                "type": "object",
                "properties": {
                    "ambassador_id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "founder",
                            "ambassador",
                            "observer"
                        ]
                    },
                    "permissions": {
                        "type": "object",
                        "properties": {
                            "can_veto": {
                                "type": "boolean"
                            },
                            "can_audit": {
                                "type": "boolean"
                            },
                            "can_propose": {
                                "type": "boolean"
                            }
                        }
                    }
[...]
